body {
    background-image: url(shokugeki.jpg);
    background-color: aqua;
    background-size:cover
    
}

h1, h2 {
    text-align: center;
    font-weight: bold;
 }
   

.container {
        display: flex;
        justify-content: center;
 }

img {
    text-align:center;
    display:block;
    margin:auto;
 }
  lu, li, lo  {
    font-weight: bold;
}
p {
    font-weight: bold;
}


